*{
  font-family: '맑은 고딕';
}


body{
  filter:invert(100%);
  background-color: black;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1{
  text-align: center;
  font-family: 'Arial';
  font-size: 6em;
  margin-top: 1em;
  margin-bottom: 1em;
}

h2{
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 3em;
}

h3{
  font-size: 2em;
  margin-left: 10em;
  margin-top: 3em;
}

li{
  font-size: 1.1em;
  margin-left: 10em;
  margin-right: 10em;
}
